.table{
    font-size: 13px !important;
}

.table-head{
    background-color: #2E50A6;
    color: white;
}

.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #2E50A6 !important;
    border-radius: 8px !important;
    width: 250px;
}

.dataTables_scrollHead{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.toolbar {
    float: left;
}

.btn-primary{
    --bs-btn-bg: #2E50A6 !important;
}

#myTable_wrapper{
    padding: 20px;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;    
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #FFFF !important;
    border-radius: 50%;
}

.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
    padding-top: 0.25em;
}