.btn-sr, .toolbar {
    float: left;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    display: inline !important;
    text-align: center !important;
    border-top: none !important;
}

.back-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.card-edit{
    border: 1px solid #DFDFDF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-left-color: #2E50A6;
    border-left-width: 15px;
}

.bootstrap-select>.dropdown-toggle {
    border: 1px solid #2E50A6;
    color: #2E50A6;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color) !important;
}

.form-label-modal{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #2E50A6;
    margin: 0px;
}

.disable-label{
    color: #A1A1A1;
}

.form-date{
    color: #2E50A6 !important;
}