body {
    overflow-x: hidden;
}

.card-border-blue {
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-left-color: #2e50a6;
    border-left-width: 15px;
}

.text-blue {
    color: #2e50a6;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
}

.text-light-blue {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    color: #6187e8;
}

.bg-light-blue {
    background: #d0dcf8;
    border-radius: 10px;
}

.text-black {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
}

.shadow-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700 !important;
}

.input-border-blue {
    border: 0.5px solid #2e50a6;
}

.title-blue {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    color: #2e50a6;
    text-align: center;
}

.breadcrump-page {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    color: #334155;
    font-size: 20px;
}

.breadcrump-role {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    color: #808080;
    font-size: 20px;
    visibility: visible !important;
}

/* Toggle Styles */

.bg-body-tertiary {
    background-color: #2e50a6 !important;
}

.active {
    text-decoration: none;
    background: #fff;
    border-radius: 15px;
}

.active a {
    color: #2e50a6 !important;
}

#side-container.toggled .active {
    text-decoration: none;
    color: #a7bef7;
    background: none !important;
}

#side-container.toggled .active a {
    text-decoration: none;
    color: #a7bef7 !important;
}

.sb-text {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 12px;
}

.navbar {
    margin-bottom: 20px;
}

hr {
    width: 215px;
}

.username {
    font-family: "Nunito";
    font-weight: 700;
}


.nav-text {
    font-family: "Nunito";
    font-weight: 800;
}

#side-container {
    padding-left: 185px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#side-container.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 75px;
    width: 200px;
    height: 85%;
    margin-left: -230px;
    overflow-y: auto;
    background-color: #2e50a6 !important;
    -webkit-transition: all 0.5s ease;
    border-radius: 20px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#side-container.toggled #sidebar-wrapper {
    width: 50px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#side-container.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #ffff;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2e50a6;
    background: #fff;
    border-radius: 15px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* section media-query */
section.include-section {
    max-width: 1200px;
    margin-left: 3rem;
}

#wrapper {
    padding-left: 185px;
}

#side-container.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 200px;
}

#side-container.toggled #sidebar-wrapper {
    width: 50px;
}

#side-container.toggled li a:hover {
    text-decoration: none;
    color: #a7bef7;
    background: none !important;
    border-radius: 15px;
}

#side-container.toggled span {
    visibility: hidden;
}

#side-container.toggled i {
    float: right;
}

#side-container.toggled .sb-img {
    float: right;
    width: 20px;
    height: 20px;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#side-container.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

.hamburger-button {
    display: none;
    flex-direction: column;
    margin-inline: 20px;
    gap: .2rem;
    justify-content: center;
}

.hamburger-button input {
    position: absolute;
    width: 2rem;
    height: 1.5rem;
    opacity: 0;
    translate: -5px -2px;
    z-index: 2;
}

.hamburger-button span:nth-child(2) {
    transform-origin: 0 0;
}

.hamburger-button span:nth-child(4) {
    transform-origin: 0 100%;
}

.hamburger-button input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -2px);
}

.hamburger-button input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.hamburger-button input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, 0);
}

.hamburger-button span {
    border-radius: 20px;
    width: 1.5rem;
    height: .2rem;
    background-color: white;
    transition: all .4s;
}

.navbar-brand h6 {
    font-size: calc(10px + (26 - 14) * ((80vw - 300px) / (1600 - 300)));
}

.navbar-brand img {
    width: calc(24px + (26 - 14) * ((90vw - 300px) / (1600 - 300)));
    height: calc(24px + (26 - 14) * ((90vw - 300px) / (1600 - 300)));
}

/* user homepage */
#home-desc {
    margin-inline: 20px;
    font-size: calc(9px + (26 - 14) * ((90vw - 300px) / (1600 - 300)));
}

@media (max-width: 992px) {

    section.include-section {
        margin-left: 0;
    }

    #side-container {
        position: relative;
    }

    #side-container.toggle-sidebar .side-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: calc(100vw + 100vw);
        height: calc(100vh + 100vh);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #wrapper {
        padding-inline: 10px;
    }

    .sidebar-nav .account-section {
        margin-top: 2rem;
    }

    .account-section div img {
        width: calc(60px + (26 - 20) * ((1500vw - 900px) / (3000 - 300)));
    }

    #sidebar-wrapper {
        transform: translateX(-120%);
        height: 88vh;
    }

    .toggle-sidebar #sidebar-wrapper {
        transform: translateX(0);
    }

    .hamburger-button {
        display: flex;
    }

    .sidebar-nav .sidebar-brand {
        display: none;
    }
}

@media (max-width: 576px) {
    .hamburger-button {
        margin-left: 10px;
        margin-right: 20px;
    }
    
}




.btn-primary {
    --bs-btn-bg: #2e50a6 !important;
}
