body {
    overflow-x: hidden;
}

.text-blue{
    color: #2E50A6;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
}

.text-light-blue{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    color: #6187E8;
}

.text-black{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
}

.shadow-text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700 !important;
}

.input-border-blue{
    border: 0.5px solid #2E50A6;
}

.title-blue{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    color: #2E50A6;
    text-align: center;
}

.breadcrump-page{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    color: #334155;
    font-size: 20px;
}

.breadcrump-role{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    color: #808080;    
    font-size: 20px;
    visibility: visible !important;
}


/* Toggle Styles */

.bg-body-tertiary {
    background-color: #2E50A6 !important;
}

.active{
    text-decoration: none;
    background: #fff;
    border-radius: 15px;
}

.active a{
    color: #2E50A6 !important;
}

#wrapper.toggled .active {
    text-decoration: none;
    color: #a7bef7;
    background: none !important;
}

#wrapper.toggled .active a {
    text-decoration: none;
    color: #a7bef7 !important;
}

.sb-text{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 12px;
}

.navbar{
    margin-bottom: 20px;
}

hr{
    width: 215px;
}

.username{
    font-family: 'Nunito';
    font-weight: 700;
}

.nav-text{
    font-family: 'Nunito';
    font-weight: 800;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 85%;
    margin-left: -230px;
    overflow-y: auto;
    background-color: #2E50A6!Important;
    -webkit-transition: all 0.5s ease;
    border-radius: 20px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #FFFF;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFFF;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2E50A6;
    background: #fff;
    border-radius: 15px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #FFFF;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 185px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled li a:hover {
        text-decoration: none;
        color: #a7bef7;
        background: none !important;
        border-radius: 15px;
    }

#wrapper.toggled span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
 float:right;
 } 

 #wrapper.toggled .sb-img{
    float: right;
    width: 20px;
    height: 20px;
 }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
}

#wrapper.toggled {
    padding-right: 60px;
}

 #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 140px;
        
        
    }
    
    #wrapper.toggled span {
        visibility:visible;
        position:relative;
        left:70px;
        bottom:13px;
        
    }

#wrapper span {
        visibility:hidden;
        
    }
  
    #wrapper.toggled i {
    float:right;
 } 
 
  #wrapper   i {
 float:right;
 } 

    #page-content-wrapper {
        padding: 5px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

.btn-primary{
    --bs-btn-bg: #2E50A6 !important;
}